<ion-header>
  <ion-toolbar>
    <ion-title>My Selected Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
    <ion-row>
    <ion-col size="8">
    <ion-card-header>
        <ion-card-title>Event Name</ion-card-title>
    </ion-card-header>
  </ion-col>
  <ion-col size="4">
    <ion-row class="linkRow" justify-content-center align-items-center>
    <a href="https://www.ottawatourism.ca/events/christmas-in-the-valley-artisan-show/">Buy Tickets
        <ion-icon class="icon" name="link"></ion-icon>
    </a>
  </ion-row>
  </ion-col>
</ion-row>
  </ion-grid>
    <ion-img src="https://via.placeholder.com/150"></ion-img>
    <ion-card-content>
      <audio src="">Some Audio Clip</audio>
        <p>The content for this card</p>
    </ion-card-content>
</ion-card>
</ion-content>
