<ion-content>

  <ion-text class="title">
    <h1>Wha's Happ
      <hr>
    Ski s'passe</h1>
  </ion-text>
    <ion-grid class="button-grid">
      <ion-row>
        <ion-col text-center class="button-cols">
          <ion-button shape="round" id="language-button-english" (click)="pickLang($event)">English</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center class="button-cols">
          <ion-button shape="round" id="language-button-french" (click)="pickLang($event)">Français</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>