<ion-card (click)='onClick("event-details")'>
  <div class='crop'>
    <ion-img src="{{ this.event.ImageURL }}"></ion-img>
  </div>
  <ion-card-header>
    <ion-card-title class="card-title">{{ this.event.TitleEN }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="card-details">
    <ion-card-subtitle class='subtitle'>Date:</ion-card-subtitle>
    <p class="content">{{ this.event.Date }}</p>
    <ion-card-subtitle class='subtitle'>Location:</ion-card-subtitle>
    <p class="content">{{ this.event.Location }}</p>
  </ion-card-content>
</ion-card>