<ion-card (click)='onClick("event-details")'>
  <div class='crop'>
    <ion-img src="{{ this.event.ImageURL }}"></ion-img>
  </div>

  <ion-card-header>
    <ion-card-title>{{ this.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content class="card-details">

    <ion-card-subtitle>{{ "date" | translate }}</ion-card-subtitle>
    <p class="content">{{ this.date }}</p>

    <ion-card-subtitle>{{ "location" | translate }}</ion-card-subtitle>
    <p class="content">{{ this.location }}</p>

    <ion-card-subtitle>{{ "price" | translate }}</ion-card-subtitle>
    <p class="content">{{ this.price }} </p>
  </ion-card-content>
</ion-card>