<!--Remove/Add comment to enable/disable primary theme-->
<ion-header>
  <ion-toolbar color="primary">
      <!-- <ion-toolbar color="secondary"> -->
    <ion-title slot="primary">
      {{ "title" | translate }}
    </ion-title>
    <ion-button (click)="this.tl.toggleLanguage()" slot="secondary" size="small" >{{ "lang-button" | translate }} </ion-button>
    <theme-toggle slot='end'></theme-toggle>

  </ion-toolbar>
</ion-header>

<div *ngIf="this.features.search">
  <ion-searchbar [(ngModel)]="this.searchTerms" placeholder="{{ 'filter-events' | translate }}">
  </ion-searchbar>
</div>

<div *ngIf="this.features.sortEvents">
  <ion-item id="sort-options-container">
    <ion-label>{{ "sort" | translate }}</ion-label>
    <ion-select id="sort-options-select" (ionChange)="sortItems($event)">
      <ion-select-option value="priceLow">{{ "price-low-high" | translate }}</ion-select-option>
      <ion-select-option value="priceHigh">{{ "price-high-low" | translate }}</ion-select-option>
      <!-- <ion-select-option value="dateSoon">Soonest Date</ion-select-option>
      <ion-select-option value="dateLate">Latest Date</ion-select-option> -->
      <ion-select-option value="alphaA">{{ "alpha-a-z" | translate }}</ion-select-option>
      <ion-select-option value="alphaZ">{{ "alpha-z-a" | translate }}</ion-select-option>

    </ion-select>
  </ion-item>
</div>


<ion-content *ngIf='events' padding>
  <eventloader id="app-event" *ngFor="let event of events | search: searchTerms | sort: { property: column, order: order }"
    [event]="event">
    <!-- {{event.TitleEN}} -->
  </eventloader>
</ion-content>